.idea
*.iml
out
gen
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
main
XrayR
XrayR*
!/script/xrayr.sh
access.log
error.log
.lego
cert
config.yml
/release/config/geoip.dat
/release/config/geosite.dat
updateR.sh
